/*

Theme Name: LearningWordPress
Author: Joel Bacus
Author URI: http://www.facebook.com/joelvincentm.bacus
Version: 1.0
*/

body{
  background-color: #FFFAFA;
  font: serif;
}

.card{
  background-color: #FFFFFF;
}
.container{
  margin-left: 90px;
  margin-right: 90px;
}